@import "~bootstrap/dist/css/bootstrap";
@import "~bootstrap-vue/dist/bootstrap-vue";
@import '~vue-on-toast/dist/vue-on-toast.css';

.toast.vot-success {
  opacity: 1;
  background-color: var(--green);
}

.toast.vot-error {
  opacity: 1;
  background-color: var(--red);
}
